* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}
body {
    background: url('images/background.jpg') no-repeat;    
    background-size: cover;
    background-position: center;
}
header {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 99;
    background: transparent;
}

.logo {
    font-size: 2em;
    color:black;
    user-select: none; 
    background: transparent;
}

.navigation {
    background: transparent;
}

.navigation a {
    position: relative;
    font-size: 1.1em;
    color: black;
    text-decoration: none;
    font-weight: 500;
    margin-left: 40px;
    background: transparent;
}

.navigation a::after {
    content: '';
    position: absolute;
    left: 0;
    bottom: -7px;
    width: 100%;
    height: 3px;
    background: black;
    border-radius: 5px;
    transform: scaleX(0);
    transform-origin: right;;
    transition: transform .5s;
}

.navigation a:hover::after {
    transform-origin: left;
    transform: scaleX(1);
}

input[type="file"] {
    display: none;
}

.navigation .custom-file-upload {
    width: 132  px;
    height: 40px;
    display: inline-block;
    padding: 6px 12px;
    background: transparent;
    border: 2px solid black;
    outline: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 1.1em;
    color: black;
    font-weight: 500;
    margin-left: 40px;
    transition: .5s;
}

.navigation .custom-file-upload:hover {
    background: black;
    color: white;
    
}

i {
    background: transparent;
}

.container {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallery {
    margin-top: 100px;
}

.gallery a img {
    object-fit: cover;
    width: 300px;
    height: 300px;
    margin: 25px;
    padding: 15px;
    padding-bottom: 60px;
    background-color: white;
    box-shadow: 5px 10px 20px black;
    transition: .25s;
}

.gallery a img:hover {
    cursor: pointer;
    transform:scale(1.4);
    z-index: 2;
}